.mainheading h1{
text-align: center;
padding: 20px;
font-size: 60px;
font-family: 'Courgette', cursive;
background-color: black;
color:white;
opacity:0.7;
padding:300px;
border-radius: 10px;




}
.mainheading{
	background-image: url(iter.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding:50px;
	width:1530px;
	





}
.superclass{
	
	
	
	background-attachment: fixed;

	margin-top:50px;
}
.form{
	padding:50px;
	width:600px;
	margin-left:450px;
	background-color: black;
	border-radius: 10px;
	opacity:0.9;
}
.form1{
	width: 300px;
}
.footer{
	background-color: black;
	opacity:0.9;
	padding :20px;
	width:1530px;
	
}
.footer2{
	text-align:left;
	color:white;
	font-family: 'Courgette', cursive;
}